<h1><%= link_to("Home Page", products_url)  %></h1>

<div class="product">
  <h2> <%= link_to("#{@product.name}", product_url(@product)) %> | Only: <%= @product.price_in_dollars %></h2>
  <p> Description: <%= @product.description %><p>
</div>

<h3><%= link_to("Edit", edit_product_url) %></h3> |<h3><%= link_to("Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}) %></h3>
